.side-bar {
    height: 100%;
    width: 140px; /* Set the width of the sidebar */
    position: absolute;
    z-index: 1; 
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: flex;
    border-right: 3px solid darkcyan;
  }