.side-bar {
    height: 100%;
    width: 130px; /* Set the width of the sidebar */
    position: absolute;
    z-index: 1; 
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: flex;
    border-right: 3px solid darkcyan;
  }

ul { padding-left: 1.2em; }

  .city-link {
    color: #000;
    text-decoration: none;
  }

  .city-link:hover {
    font-size: 120%;
    cursor: pointer;
    color: #000;
    text-decoration: none;
 }